<div class="row">

  <div class="search">
    <div class="search-cus">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" #search aria-label="Search"
        (keyup.enter)="onKeyEnter()">
      <button type="button" class="btn btn-primary btn-sm m-3" (click)="onRest()">Rest</button>
    </div>

  </div>
</div>
<div class="row">
  <div class="col-md-2 col-sm-4 col-xs-6 mt-2 " *ngFor="let i of books">
    <div class="card" style="width: 18rem;">
      <img src="{{i.volumeInfo.imageLinks.thumbnail}}" class="card-img-top1 img-fluid" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{i.volumeInfo.title}}</h5>
        <p class="card-text">{{i.volumeInfo.description}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
